body{
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: center;
}

.container{
    width: 100%;
}
.logo{
    /*margin-right: 40%;
    margin-left: 40%;*/
    width: 100%;
    /*max-width: 60%;
    min-width: 60%;*/
    background-color: chartreuse;
}

.photo{
    width: 100%;
    /*margin-right: 40%;
    margin-left: 40%;
    max-width: 60%;
    min-width: 30%;*/
}

.about{
    /*margin-right: 40%;
    margin-left: 40%;
    max-width: 60%;
    min-width: 40%;*/
    width: 100%;
    background-color: aqua;
}

.paragraph{
    padding-left: 10%;
    padding-right: 10%;
}

.contact{
   /* margin-right: 40%;
    margin-left: 40%;
    max-width: 50%;
    min-width: 40%;*/
    width: 100%;
    background-color: aquamarine;
}

.partners{
    /*margin-right: 40%;
    margin-left: 40%;
    max-width: 50%;
    min-width: 40%;*/
    width: 100%;
    background-color: blueviolet;
}

/* sm devices */ 
@media (min-width: 576px){
    body{
        background-color: red;
    }
}
@media (min-width:768px){
    body{
        background-color: orange;
    }
        .grey{
        height: 150px;
}
@media (min-width: 922){
    body{
        background-color: green;
    }
    .grey{
        height: 150px;
    }
}

/* xl */ 
@media (min-width:1200px){
    body{
        background-color: blue;
    }
}